.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150px;
  background-image: linear-gradient(to top, #de422f, #87291c);
}
.header-container .logo-pokemon {
  width: 200px;
  margin-right: 25px;
}
